* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {

    padding: 10px 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #ccd5ae;
    width: 100%;
    font-size: 50px;

}
body {
    background-color: #fefae0;
}

.page-title {
    display: inline-block;
    height: 30px;
    color: white;
    font-size: 75px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
}

.navlinks {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.nav-item a {
    display: flex;
    color: white;
    border: 1px solid white;
    padding: 10px 10px;
    text-decoration: none;

}

.nav-item:hover {
    background-color: black;
}

.hero {
    background-image: url("./img/matrix.jpg");
    height: 250px;
    width: 100%;
    margin-bottom: 20px;
}

#profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 300px;
}

.about-me {
    display: flex;
    justify-content: right;
    margin-left: 8.5%;
    padding: 20px;
    gap: 15px;
    background-color: #e9edc9;
    font-size: 25px;
}

.content {
    width: 96%;
    color: black;
    text-align: center;
}

.subheader {
    padding: 10px;
    border-right: 2px solid black;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #e9edc9;
    margin-left: 8.5%;
    padding: 50px;
    gap: 10px
}

.flexbox-projects img {
    height: 100%;
    width: 100%;
    align-content: center;
    border: 2px solid black;
}

.flexbox-projects {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 40%;
    margin: 0 auto;
    border: 10px solid white;
}

.flexbox-item1 {
    display: flex;
    flex-direction: column;
    width: 84%;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid white;
}

.flexbox-item1 img {
    height: 50%;
    width: 100%;
    border: 2px solid black;

}

#side{
    padding: 10px;
   text-align: center;
    border-right: 2px solid black;
    font-size: 40px;
}
figcaption {
    background-color: #d4a373;
    font-weight: bolder;
    width: 100%;
    color: black;

}
.flexbox-projects a{
    height: 100px;
    width:100%;
}
