* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* setting header's sizes  */
header {
    padding: 10px 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #ccd5ae;
    width: 100%;
    font-size: 100%;
}
/* creates background color for webpage */
body {
    background-color: #fefae0;
}

.page-title {
    display: inline-block;
    color: white;
    font-size: 75px;
  
}

.navbar {
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
}

.navlinks {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.nav-item a {
    display: flex;
    color: white;
    border: 1px solid white;
    padding: 10px 10px;
    text-decoration: none;
}
/* create a black background for nav items when you hover over them */
.nav-item:hover {
    background-color: black;
}
/* creates a link  to the matrix image and we give it a size */
.hero {
    background-image: url("./img/matrix.jpg");
    height: 250px;
    width: 100%;
    margin-bottom: 20px;
}
/* centers and sizes profile image */
#profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 300px;
}
/* creates flex container for about-me section */
.about-me {
    display: flex;
    justify-content: right;
    margin-left: 8.5%;
    padding: 20px;
    gap: 15px;
    background-color: #e9edc9;
    font-size: 25px;
}
/* gives wisth to all tags in content as welll as text color and aligns them to be in the center */
.content {
    width: 96%;
    color: black;
    text-align: center;
}

.subheader {
    padding: 10px;
    border-right: 2px solid black;
}
/* style the container to wrap items and align them in the center */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #e9edc9;
    margin-left: 8.5%;
    padding: 50px;
    gap: 10px
}
/* gives flexbox-projects images a border and size */
.flexbox-projects img {
    height: 100%;
    width: 100%;
    align-content: center;
    border: 2px solid black;
}
/* wraps all elements and give it a white border */
.flexbox-projects {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 40%;
    margin: 0 auto;
    border: 10px solid white;
}
/* gives flex to item 1 and white border */
.flexbox-item1 {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: 10px solid white;
}
/* creates size of image of item 1 */
.flexbox-item1 img {
    width: 100%;
    border: 2px solid black;
}
/* gives work a border an aligns it  */
#side {
    padding: 10px;
    text-align: center;
    font-size: 40px;
    border-right: 1px solid black;
}
/* give bacground color to fig captions as well as size */
figcaption {
    background-color: #d4a373;
    font-weight: bolder;
    width: 100%;
    color: black;
}
/* give image in flexbox-projects size  */
.flexbox-projects a {
    height: 100%;
    width: 100%;
}
/* gives images a opacity when you hover over them */
.flexbox-item1 a:hover {
    opacity: .8;
}

.flexbox-projects img:hover {
    opacity: .4;
}
/* create flex for elements inside contact */
.contact-me {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 8.5%;
    padding: 20px;
    gap: 15px;
    background-color: #e9edc9;
}
/* creates border for all anchor tags in contact-me */
.contact-me a {
    border: 2px solid black;
    color: black;
    text-decoration: none;
}
/* give contact anchor tags a white background when you hover over them */
.contact-me a:hover {
    background-color: white;
}
/* change some element sizes for smaller screens */
@media screen and (min-width: 320px) and (max-width:426px) {
    #side {
        border: none;
    }

    .navlinks {
        flex-direction: column;
        margin-right: 25%
    }

    .subheader {
        border: none;
    }

    .about-me {
        width: 89%;
        flex-direction: column;
    }

    .flexbox-item1 {
        width: 90%;
    }

    .flexbox-projects {
        width: 80%;
    }

    .contact-me {
        flex-direction: column;
        width: 89%;
        font-size: 25px;
    }

    figure {
        font-size: 70%;
    }
}


